<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <li> <%= current_user.status%> </li>
  </ul>

  <% if current_user.github_token %>
    <h4>Github Repo's</h4>
    <section id="Github">
      <% user_info.github_repos.each_with_index do |repo, index| %>
      <section id="repo-<%= index %>">
        <p><%= link_to repo.name, repo.html_url %></p>
      </section>
      <% end %>
    </section>

    <h4>Followers</h4>
    <section id="Followers">
      <% user_info.github_followers.each_with_index do |follower, index| %>
      <section id="follower-<%= index %>">
        <p><%= link_to follower.login, follower.html_url %></p>
        <% if follower.id != nil && !current_user.friends.include?(follower)%>
          <p><%= button_to "Add Friend", "/friendships/#{follower.id}", method: :post %></p>
        <% end %>
      </section>
      <% end %>
    </section>

    <h4>Following</h4>
    <section id="following">
      <% user_info.github_following.each_with_index do |user, index| %>
      <section id="follow-<%= index %>">
        <p><%= link_to user.login, user.html_url %></p>
        <% if user.id != nil && !current_user.friends.include?(user) %>
          <p><%= button_to "Add Friend", "/friendships/#{user.id}", method: :post %></p>
        <% end %>
      </section>
      <% end %>
    </section>

    <h4>Friends</h4>
    <section id="friends">
      <% user_info.friends.each_with_index do |friend, index| %>
        <section id="friend-<% index %>">
          <%= link_to friend.github_username, "https://github.com/#{friend.github_username}" %>
        </section>
      <% end %>
    </section>

  <% else %>
    <%= button_to 'Connect to Github', github_login_path %>
  <% end %>

  <h1>Bookmarked Segments</h1>
  <section id="Bookmarks">
    <% user_info.bookmarks.each_with_index do |bookmark, index| %>
      <section id="bookmark-<%= index %>">
        <ul>
          <li><strong>Video:</strong> <%= bookmark.title %></li>
          <li><strong>Tutorial:</strong> <%= bookmark.tutorial.title %> %></li>
          <p>--------------------</p>
        </ul>
      </section>
    <% end %>
  </section>

</section>
